{% extends 'store/base.html' %}

{% block content %}

<h2>{{ title }}</h2>

<div class="card shadow-sm border-0">
    <div class="card-body">

        <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-primary">
                Save
            </button>

            <a href="{% url 'store:admin_products' %}" class="btn btn-secondary">
                Cancel
            </a>
        </form>

    </div>
</div>

{% endblock %}